<center><span style="color:red; font-size:30px">TIPOS DATOS - SALIDA - ENTRADA</span></center>

In [10]:
idAlumno = "A1"
nombre = "Miguel"
edad = 23
estatura = 1.72
casado = True
sexo = "H"

print("idAlumno: ", type(idAlumno))
print("nombre: ", type(nombre))
print("edad: ", type(edad))
print("estatura: ", type(estatura))
print("casado: ", type(casado))
print("sexo: ", type(sexo))

unir = idAlumno + ";" + nombre + ";" + str(edad) + ";" + str(estatura) + ";" + str(casado) + ";" + sexo
print(unir)

partes = unir.split(';')
for elemento in partes:
    print(elemento, end=' ')

idAlumno:  <class 'str'>
nombre:  <class 'str'>
edad:  <class 'int'>
estatura:  <class 'float'>
casado:  <class 'bool'>
sexo:  <class 'str'>
A1;Miguel;23;1.72;True;H
A1 Miguel 23 1.72 True H

In [17]:
print("%-12s %-10s %-5s %-10s %-10s %-5s" % ('IDALUMNO', 'NOMBRE', 'EDAD', 'ESTATURA', 'CASADO', 'SEXO'))
print("%-12s %-10s %-5s %-10s %-10s %-5s" % ('--------', '------', '----', '--------', '------', '----'))
print("%-12s %-10s %-5d %-10.2f %-10s %-5s" % (idAlumno, nombre, edad, estatura, casado, sexo))

IDALUMNO     NOMBRE     EDAD  ESTATURA   CASADO     SEXO
--------     ------     ----  --------   ------     ----
A1           Miguel     23    1.72       True       H

In [20]:
print(f"idAlumno:{idAlumno} nombre: {nombre}")

idAlumno:A1 nombre: Miguel

In [22]:
print("idAlumno:", idAlumno, " nombre: ", nombre)

idAlumno: A1  nombre:  Miguel

In [23]:
print(f"""
idAlumno: {idAlumno}
nombre  : {nombre}
""")

idAlumno: A1
nombre  : Miguel

In [34]:
import re
def entradaLogico():
    patron = "True|False"
    logico = True
    while True:
          logico = input('Ingresar un lógico?')
          correcto = re.fullmatch(patron, logico)
          if not correcto:
             print('Sólo debe ingresar True o False')
          else:
             break;
    return True if logico == 'True' else False;

entero = int(input('Ingresar un entero?'))
punto_flotante = float(input('Ingresar un punto flotante?'))
logico = entradaLogico()  
print('Lógico: ', type(logico), logico);

Ingresar un entero? 5
Ingresar un punto flotante? 1.5
Ingresar un lógico? False

Lógico:  <class 'bool'> False

In [40]:
print(bool(3412))
print(bool(""))
print(bool(" "))
print(bool([]))
print(bool([1,8,8]))

True
False
True
False
True